
<div class="container">
  <h2 style="text-align: center;">ChatGPT powered by OpenAI</h2>

  <div>
    <br>
    <h3 style="color: orange; text-align: justify;">OpenAI is an AI research and deployment company. Our mission is to ensure that artificial general intelligence benefits all of humanity.</h3>
  </div>
<br><br>
  <div>
    <p style="font-size: larger;">
      To experience and see the power of AI, click on this avigation => <a href="#" [routerLink]="['/demo']" routerLinkActive="router-link-active" >LIVE DEMO</a>
    </p>
  </div>
</div>
